In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np

In [2]:
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)

In [3]:
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [6]:
from datetime import datetime

In [7]:
now = datetime.now()

In [8]:
now

datetime.datetime(2018, 5, 6, 23, 6, 13, 916738)

In [9]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [10]:
delta

datetime.timedelta(926, 56700)

In [11]:
delta.days

926

In [12]:
delta.seconds

56700

In [13]:
from datetime import timedelta

In [14]:
start = datetime(2011,1,7)

In [15]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [16]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [17]:
#字符串转日期
stamp = datetime(2011,1,3)

In [18]:
str(stamp)

'2011-01-03 00:00:00'

In [19]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [20]:
value = '2011-01-03'

In [21]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
datestrs = ['7/6/2011','8/6/2011']

In [26]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [27]:
from dateutil.parser import parse

In [28]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [30]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2018, 1, 31, 22, 45)

In [31]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [32]:
datestrs

['7/6/2011', '8/6/2011']

In [33]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [34]:
idx = pd.to_datetime(datestrs+[None])

In [35]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [36]:
idx[2]

NaT

In [37]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [38]:
#pands中的时间序列
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [39]:
ts = Series(np.random.randn(6),index=dates)

In [40]:
ts

2011-01-02    0.673787
2011-01-05   -0.050440
2011-01-07   -0.200544
2011-01-08   -0.743111
2011-01-10    0.977313
2011-01-12    0.215494
dtype: float64

In [41]:
type(ts)

pandas.core.series.Series

In [42]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [43]:
ts[::2]

2011-01-02    0.673787
2011-01-07   -0.200544
2011-01-10    0.977313
dtype: float64

In [44]:
ts+ts[::2]

2011-01-02    1.347574
2011-01-05         NaN
2011-01-07   -0.401087
2011-01-08         NaN
2011-01-10    1.954626
2011-01-12         NaN
dtype: float64

In [45]:
ts.index.dtype

dtype('<M8[ns]')

In [46]:
stamp = ts.index[0]

In [47]:
stamp

Timestamp('2011-01-02 00:00:00')

In [48]:
#索引,选取与子集构造
stamp = ts.index[2]

In [49]:
ts[stamp]

-0.20054352684911661

In [50]:
ts['1/10/2011']

0.97731278149342371

In [51]:
ts['20110110']

0.97731278149342371

In [52]:
longer_ts = Series(np.random.rand(1000),index=pd.date_range('1/1/2000',periods=1000))

In [53]:
longer_ts

2000-01-01    0.995995
2000-01-02    0.270896
2000-01-03    0.828828
2000-01-04    0.135102
2000-01-05    0.623420
2000-01-06    0.914824
                ...
2002-09-21    0.957284
2002-09-22    0.187730
2002-09-23    0.695010
2002-09-24    0.929242
2002-09-25    0.735541
2002-09-26    0.921377
Freq: D, Length: 1000, dtype: float64

In [54]:
ts

2011-01-02    0.673787
2011-01-05   -0.050440
2011-01-07   -0.200544
2011-01-08   -0.743111
2011-01-10    0.977313
2011-01-12    0.215494
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02    0.673787
2011-01-05   -0.050440
2011-01-07   -0.200544
2011-01-08   -0.743111
dtype: float64

In [56]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [57]:
long_df = DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [58]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.434707  1.292542 -1.746276  1.300780
2000-01-12 -1.030721 -0.154862 -1.167810 -0.145648
2000-01-19 -0.125124  1.135455 -1.605636 -0.955138
2000-01-26  0.078776 -0.011296 -0.223906  0.931239
2000-02-02 -1.001951  0.259267 -1.463853 -1.250660
2000-02-09  1.768133  1.700479  2.095398  0.439467
...              ...       ...       ...       ...
2001-10-24  1.961910  1.743221 -0.050424  0.264924
2001-10-31 -1.669328  1.715283  0.155892 -0.246999
2001-11-07 -1.284161 -0.827099 -0.110038  0.704948
2001-11-14  0.632068 -0.828015 -0.642935 -0.085146
2001-11-21 -3.170549 -0.056865 -1.273502 -0.645962
2001-11-28  0.647130  0.620362  0.084598  0.427952

[100 rows x 4 columns]

In [59]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])

In [60]:
dup_ts = Series(np.arange(5),index=dates)

In [61]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [62]:
dup_ts.index.is_unique

False

In [63]:
grouped = dup_ts.groupby(level=0)

In [64]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [66]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [67]:
ts

2011-01-02    0.673787
2011-01-05   -0.050440
2011-01-07   -0.200544
2011-01-08   -0.743111
2011-01-10    0.977313
2011-01-12    0.215494
dtype: float64

In [68]:
#日期 范围、频率与移动

2011-01-02    0.673787
2011-01-05   -0.050440
2011-01-07   -0.200544
2011-01-08   -0.743111
2011-01-10    0.977313
2011-01-12    0.215494
dtype: float64