In [1]:
import numpy as np
import pandas as pd

In [23]:
names = []
data = pd.read_table('ex15.txt',sep=' ')

In [24]:
data

       x1   x2     x3     y
1   149.3  4.2  108.1  15.9
2   161.2  4.1  114.8  16.4
3   171.5  3.1  123.2  19.0
4   175.5  3.1  126.9  19.1
5   180.8  1.1  132.1  18.8
6   190.7  2.2  137.7  20.4
7   202.1  2.1  146.0  22.7
8   212.4  5.6  154.1  26.5
9   226.1  5.0  162.3  28.1
10  231.9  5.1  164.3  27.6
11  239.0  0.7  167.6  26.3

In [27]:
x,y=data.drop(['y'],axis=1),data['y']

In [28]:
x

       x1   x2     x3
1   149.3  4.2  108.1
2   161.2  4.1  114.8
3   171.5  3.1  123.2
4   175.5  3.1  126.9
5   180.8  1.1  132.1
6   190.7  2.2  137.7
7   202.1  2.1  146.0
8   212.4  5.6  154.1
9   226.1  5.0  162.3
10  231.9  5.1  164.3
11  239.0  0.7  167.6

In [29]:
y

1     15.9
2     16.4
3     19.0
4     19.1
5     18.8
6     20.4
7     22.7
8     26.5
9     28.1
10    27.6
11    26.3
Name: y, dtype: float64

In [30]:
#画散点图
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

In [31]:
##利用现有库求解
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [32]:
linreg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
linreg.score(x,y)

0.9918965520557044

In [38]:
#PCA降维
from sklearn.decomposition import PCA

In [51]:
pca = PCA(n_components=2)

In [52]:
reduce_x = pca.fit_transform(x)

In [53]:
linreg2 = LinearRegression()

In [54]:
linreg2.fit(reduce_x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [55]:
linreg2.score(reduce_x,y)

0.9907109105118767

In [57]:
#效果不是很好，说明，该维数是3比较好